<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
        <title>Education</title>
    </header>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="ui-loader/ui-loader.js"></script>
    <body>
        <div id="navbar-placeholder"></div>
        <div class="jumbotron text-center">
            <h1>Social engineering</h1>
            <p> Here you will learn about the main types of social engineering. </p>
        </div>
        <div class="row" style="padding-bottom: 25px;">
            <div class="col-sm-1 text-center"></div>
            <div class="col-sm-4 text-center">
                <div class="card">
                    <img src="assets/education/phishing.png" class="card-img-top" style="max-width: 20vw; aspect-ratio: 1/1; margin:auto;" alt="Phishing">
                    <div class="card-body">

                        <!-----///////////////Phishing card///////////////----->

                        <h5 class="card-title">Phishing</h5> 
                        <p class="hoverable-text-title card-subtitle text-body-secondary"><b> What is it? </b></p>
                        <p class="hoverable-text-body card-text"> Phishing is when an attacker sends fake emails or text that look like they are from "trusted sources" e.g. amaz0n.com instead of amazon.com.</p>
                        <p class="hoverable-text-title card-subtitle text-body-secondary"><b>How to spot it?</b></p>
                        <p class="hoverable-text-body card-text"> To spot a phishing email, check if it is making you urgently do something, if it is coming from an actual trusted source, and hover over links to see if they are real.</p>
                        <p class="hoverable-text-title card-subtitle text-body-secondary"><b> Fun fact</b></p>
                        <p class="hoverable-text-body card-text"> Phishing emails are slightly obvious as most of them tend to require the user to do stuff later. They make it semi obvious to weed out people who will catch on later.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 text-center"></div>
            <div class="col-sm-4 text-center">
                <div class="card">
                    <img src="assets/education/tail_gating.png" class="card-img-top" style="max-width: 20vw; aspect-ratio: 1/1; margin:auto;" alt="Tail Gating">
                    <div class="card-body">

                        <!-----///////////////Tail gating card///////////////----->

                        <h5 class="card-title">Tail gating</h5>
                        <p class="hoverable-text-title card-subtitle text-body-secondary"><b> What is it? </b></p>
                        <p class="hoverable-text-body card-text"> Following someone in person in order to gain sneak into a place they are unauthorized to.</p>
                        <p class="hoverable-text-title card-subtitle text-body-secondary"><b>How to spot it?</b></p>
                        <p class="hoverable-text-body card-text"> Someone without the correct identification trying to ask you to hold the door because their hands are full.</p>
                        <p class="hoverable-text-title card-subtitle text-body-secondary"><b> Fun fact</b></p>
                        <p class="hoverable-text-body card-text"> People stole a bunch of money doing this, by pretending they were construction workers. Ultimately they were caught.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 text-center"></div>
        </div>
        <div class="row" style="padding-bottom: 25px;">
            <div class="col-sm-1 text-center"></div>
            <div class="col-sm-4 text-center">
                <div class="card">
                    <img src="assets/education/baiting.png" class="card-img-top" style="max-width: 20vw; aspect-ratio: 1/1; margin:auto;" alt="Baiting">
                    <div class="card-body">

                        <!-----///////////////Baiting card///////////////----->

                        <h5 class="card-title">Baiting</h5>
                        <p class="hoverable-text-title card-subtitle text-body-secondary"><b> What is it? </b></p>
                        <p class="hoverable-text-body card-text"> A "free" lure, like a USB stick labeled secret in a car park.</p>
                        <p class="hoverable-text-title card-subtitle text-body-secondary"><b>How to spot it?</b></p>
                        <p class="hoverable-text-body card-text"> Unknown devices or free downloads that seem too good to be true.</p>
                        <p class="hoverable-text-title card-subtitle text-body-secondary"><b> Fun fact</b></p>
                        <p class="hoverable-text-body card-text"> Nearly 50% of people plug in random USBs they find.</p>
                    </div>
                </div>       
            </div>
            <div class="col-sm-2 text-center"></div>
            <div class="col-sm-4 text-center">
                <div class="card">
                    <img src="assets/education/pre_texting.png" class="card-img-top" style="max-width: 20vw; aspect-ratio: 1/1; margin:auto;" alt="Pre texting">
                    <div class="card-body">

                        <!-----///////////////Pre texting card///////////////----->

                        <h5 class="card-title">Pre texting</h5>
                        <p class="hoverable-text-title card-subtitle text-body-secondary"><b> What is it? </b></p>
                        <p class="hoverable-text-body card-text"> An attacker uses a fake story to pretend to be IT or authority.</p>
                        <p class="hoverable-text-title card-subtitle text-body-secondary"><b>How to spot it?</b></p>
                        <p class="hoverable-text-body card-text"> Asking for sensitive information that they should already have.</p>
                        <p class="hoverable-text-title card-subtitle text-body-secondary"><b> Fun fact</b></p>
                        <p class="hoverable-text-body card-text"> Many attackers will spend weeks researching your life first in order to pull off a successful attack.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 text-center"></div>
        <div class="row" style="padding-bottom: 25px;">
            <div class="col-sm-5 text-center"></div>
            <div class="col-sm-2 text-center">
                <a class="btn btn-outline-primary btn-lg" href="phishing.html">Phishing Game</a>
            </div>
            <div class="col-sm-5 text-center"></div>
        </div>
        </div>
        <div id="footer-placeholder"></div>
    </body>


</html>