<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" href="styles.css">
    </header>

    <footer class="bg-dark text-white pt-5 pb-4 mt-4">
        <div class="container text-center text-md-start">
            <div class="row text-center text-md-start">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Learn2Detect</h5>
                    <p>A gamified educational cyber security training tool. This is best combined with an actual social engineering course to maximize the learning.</p>
                </div>
            </div>
        </div>
        <hr class="mb-4">
        <div class="row align-items-center">
            <p class="text-center">All rights reserved by Learn2Detect 2026</p>
            <p class="text-center">For any enquiries please email learn2detect@gmail.com</p>
        </div>
    </footer>
</html>